.wrapper {
  background-color: rgba(17, 16, 16, 0.932);
  min-height: 100vh;
}

.container {
  max-width: 80%;
  max-height: 80%;
  /* background: rgba(0, 225, 255, 0.726); */
  text-align: center;
}
.header {
  padding-top: 40px;
  color: wheat;
}
.navBar {
  border: 2px solid red;
  padding: 2px;
  position: sticky;
  top: 0;
  margin: -5px 5px 5px 5px;
  box-shadow: 0px 5px 5px 3px rgba(231, 190, 190, 0.123);
}
.form {
  min-height: 30vh;
  align-content: center;

  border: 2px solid red;

  box-shadow: 0px 5px 5px 3px rgba(231, 190, 190, 0.123);
}

.table {
  --bs-table-bg: transparent;
  box-shadow: 0px 5px 5px 3px rgba(231, 190, 190, 0.123);
}
/* .table-spacing {
    margin-bottom: 20px;
  } */

.alert {
  background-color: rgba(127, 246, 255, 0.813);
  box-shadow: 0px 5px 5px 3px rgba(231, 190, 190, 0.123);
  border: 2px solid red;
}
.alert {
  font-size: 20px;
  font: bolder;
}

h3 {
  color: wheat;
}

.footer {
  min-height: 10vh;
  color: white;
  padding: 10px;
}
